* {
    margin: 0;
    padding: 0;
}
body {
    background-color: gainsboro;
}
.container {
    width: 1175px;
    margin-left: 10%;
    margin-right: 10%;
    font-family:sans-serif;
    background-color: white;
}
.header {
    background-color: #222;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
h1 {
    color: white;
}

.login {
    color: white;
    background-color:darkblue;
    box-shadow: 4px 4px black;
    border-style: solid;
    padding: 5px;
    margin:10px;
    border-color: black;
    width: 80px;
    height: 30px;
    cursor: pointer;
}
#join {
    padding: 5px;
    color: black;
    background-color: orange;
    box-shadow: 4px 4px black;
    border-style: solid;
    margin:10px;
    border-color: black;
    width: 80px;
    height: 30px;
    cursor: pointer;
}

.header1 {
    background-color:tan;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}
.searchbar {
    align-items: center;
    height: 80px;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
}
#search {
    border-style: solid;
    border-color: black;
    height: 30px;
    width: 200px;
}
#go {
    height: 30px;
    width: 40px;
    border-style: solid;
    border-color: black;
    box-shadow: 4px 4px black;
    color: white;
    background-color: darkblue;
    cursor: pointer;
}

.cakeimg, .ice-creamimg, .cookieimg, .pieimg {
    height: 75px;
    width: 80x;
    border-style:hidden;
    background-color: white;
    border-radius: 75%;
    padding:5px;
    margin-left: 30px;
    margin-right: 30px;
}

.dessertnames1 {
    text-align: center;
}
.container2 {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.leftcolumn {
    background-color: gainsboro;
    height: 650px;
    width: 700px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.title1 {
    text-align: center;
    padding: 10px;
    font-size: 20pt;
    color: darkblue;
}
.orangetart {
    width: 670px;
    height: 450px;
    padding: 5px;
    margin: 10px;
}
.content1 {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-left: 10px;
    width: 670px;
}

#heart1, #heart2, #heart3 {
    height: 25px; 
    width: 23px;
    cursor: pointer;
}
.author {
    font-size: 15pt;
}
.author1 {
    margin-left: 10px;
    padding:5px;
}
.bottomlink {
    text-align: center;
    height: 80px;
    font-size: 15pt;
}
.rightcolumn {
    margin-bottom: 20px;
    width: 415px;
}
.titles2 {
    border-bottom-style: solid;
    border-color: gainsboro;
    margin-bottom: 10px;
    padding: 5px;
}
.macaron, .creme {
    height: 230px;
    width: 415px;
}

.boxer1 { 
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}
.boxer2 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.author2, .author3 {
    font-size: 15pt;
}